# Ignore everything
*

# But not these files...
!.gitignore
!*.h
!*.hpp
!*.hxx

!*.c
!*.cpp
!*.cxx

!*.mk
!Makefile
!.gitignore

!*.sh

!*.rb
!*.py

!*.md
!*.xml
!*.dox
!*.css
!*.js
!*.yml

# ...even if they are in subdirectories
!*/

# However we really want to ignore
lapacke/*
build/*
doc/html/*
config.mk
