# Ignore everything
*

# But not these files...
!.gitignore
!*.h
!*.hpp
!*.hxx

!*.c
!*.cpp
!*.cxx

!*.mk
!Makefile

!*.sh

# ...even if they are in subdirectories
!*/

# However we really want to ignore
misc/lapacke/*
config.mk
