# Ignore everything
*

# But not these files...
!.gitignore
!*.h
!*.hpp
!*.hxx

!*.c
!*.cpp
!*.cxx

!*.mk
!Makefile

!*.sh

!*.rb

!*.md
!*.xml
!*.dox
!*.css
!*.js

# ...even if they are in subdirectories
!*/

# However we really want to ignore
lapacke/*
build/*
doc/latex/*
doc/html/*
config.mk
